@import url("../../fonts.css");

* {
    -standard-color-button: #575555;
    -standard-color-label: #6f6f6f;
    -standard-error-color: #ff0000;
    -standard-success-color: #2bff00;
    -standard-ok-color: #00BCD4;
    -ext-success-color: #52bc1e;
    -ext-dark-error-color: #ae0000;
    -ext-dark-ok-color: #028290;
    -ext-dark-success-color: #319002;

    /*only popup*/
    -standard-warning-color: #C2C607;
}