@import url("../../../../fonts.css");

.content {
    -fx-background-color: #3a3436;
}

.jfx-button {
    /*-fx-background-color: #616161;*/
    -fx-background-color: #393134;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #2d2c2c, 2, 1, 2, 2);
    -fx-font-family: 'Rubik Light';
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
    /*-fx-text-fill: #e5dada;*/
}

.jfx-button:hover {
    -fx-background-color: #362e31;
    -fx-effect: innershadow(gaussian, #2d2c2c, 2, 1, 2, 2);
}

.start {
    -fx-text-fill: #00BCD4;
}

.add-mod {
    -fx-text-fill: #52BC1E;
}

.delete-mod {
    -fx-text-fill: #d03939;
}

.modlist, .list-cell:odd, .list-cell:even {
    -fx-background-color: #242323;
    -fx-font-family: 'Red Hat Display';
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
}
.modlist .scroll-bar:vertical {
    -fx-background-color: transparent;
}
.modlist .scroll-bar:vertical .increment-button ,
.modlist .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.modlist  .scroll-bar .increment-arrow,
.modlist  .scroll-bar .decrement-arrow {
    -fx-shape:" ";
    -fx-padding:0;
}

.modlist .scroll-bar:horizontal .thumb,
.modlist .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.list-cell {
    -fx-font-family: 'Red Hat Display';
    -fx-font-size: 13px;
}

.list-cell:hover {
    /*#393134*/
    -fx-background-color: #171616;
}
.list-cell:selected {
    -fx-background-color: #393838;
}