@import url(../../../../fonts.css);

.content {
    -fx-background-color: #3a3436;
}

.label {
    -fx-text-fill: #ff5b5b;
    -fx-font-size: 16px;
    -fx-font-family: 'Rubik Light';
}

.jfx-toggle-button {
    -fx-text-fill: #e5dada;
    -fx-font-family: 'Rubik Light';
    -fx-font-size: 16px;
    -jfx-unselected-color: #bb1f1f;
    -jfx-toggle-color: #c654a1;
}