@import url("../tab.css");

.content {
    -fx-background-image: url('../patcher.png');
}

.label {
    -fx-font-size: 13px;
    -fx-font-family: "Montserrat";
    -fx-text-fill: -standard-label-color;
}

.state-yes {
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: -standard-success-color;
}

.state-no {
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: -standard-error-color;
}

.jfx-button {
    -fx-font-size: 16px;
    -fx-font-family: "Source Code Pro";
    -fx-text-fill: -standard-color-button;
}