@import url("../../../../fonts.css");

.content { -fx-background-color: #3a3436; }

.title {
    -fx-font-size: 30px;
    -fx-font-family: 'Rubik Light';
    -fx-text-fill: #eff595;
}

.state { -fx-font-size: 24px; }

.jfx-button {
    -fx-font-family: 'Rubik Light';
    -fx-background-color: #c654a1;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-shape: "M0.5,0 l0.354,0.146 L1,0.5 l-0.146,0.354 L0.5,1,0.146,0.854,0,0.5,0.146,0.146";
}

.jfx-button:hover { -fx-background-color: #cb65aa; }

.choice-box {
    -fx-font-family: 'Rubik Light';
    -fx-font-size: 15px;
    -fx-background-color: #232323;
    -fx-mark-color: orange; /* arrow color */
    -fx-focused-mark-color: #232323; /* focused item */
}
.choice-box .label { -fx-text-fill: #ffffff; }
.choice-box .context-menu { -fx-background-radius:0 0 10 10; -fx-background-color: #232323; }
.choice-box .menu-item:focused { -fx-background-color: orange; -fx-background-radius:10 10 10 10; }
.choice-box .menu-item > .label { -fx-text-fill: white; -fx-font-size: 15px; }
.choice-box .menu-item:focused > .label { -fx-text-fill: #232323; }
