@import url("../../../../fonts.css");

.content { -fx-background-color: #3a3436; }

.jfx-button {
    -fx-text-fill: #e5dada;
    -fx-font-family: 'Rubik Light';
    -fx-font-size: 16px;
    -fx-background-color: #34282d;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #2d2c2c, 2, 1, 2, 2);
}

.jfx-button:hover {
    -fx-background-color: #2f2428;
}

.set-by-default {
    -fx-text-fill: #00BCD4;
}

.add-profile {
    -fx-text-fill: #52BC1E;
}

.delete-profile {
    -fx-text-fill: #d03939;
}

.tree-table-view, .table-view {
    -fx-background-color: #242323;
    -fx-font-family: 'Rubik Light';;
    -fx-text-fill: #e5dada;
    -fx-font-size: 15px;
}

.tree-table-view .column-header,
.tree-table-view .column-header-background {
    -fx-border-color: #00BCD4;
}

.tree-table-view .corner {
    -fx-background-color: transparent;
}

.tree-table-row-cell .tree-table-cell {
    -fx-alignment: center;
    -fx-border-color: #00BCD4;
    -fx-border-width: 0 1 0 1;
    -fx-background-color: #242323;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-font-family: 'Rubik Light';
    -fx-text-fill: #e5dada;
    -fx-font-size: 15px;
}

.tree-table-row-cell:selected .tree-table-cell {
    -fx-background-color: #181818;
    /*-fx-border-color: #52BC1E;*/
    /*-fx-border-width: 0 1 0 1;*/
    -fx-font-family: 'Rubik Light';
    -fx-text-fill: #e5dada;
    -fx-font-size: 15px;
}

.tree-table-row-cell:empty .tree-table-cell {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .increment-button ,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape:" ";
    -fx-padding:0;
}

.scroll-bar .thumb {
    -fx-background-color: transparent;
}