@font-face {
    src: url("fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    src: url("fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
    src: url("fonts/montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    src: url("fonts/source-code-pro/static/SourceCodePro-Regular.ttf");
}

@font-face {
    src: url("fonts/source-serif-pro/SourceSerifPro-Regular.ttf");
}
