@font-face {
    src: url("fonts/zentokyozoo/ZenTokyoZoo-Regular.ttf");
}

@font-face {
    src: url("fonts/rubik/Rubik-Light.ttf");
}

@font-face {
    src: url("fonts/play/Play-Regular.ttf");
}

@font-face {
    src: url("fonts/redhat/RedHatDisplay-Regular.ttf");
}

