@import url("../popup.css");

.content {
    -fx-background-image: url('../choice-project-folder.png');
}

.jfx-text-field, .jfx-text-field .label {
    -fx-font-size: 13px;
    -fx-font-family: "Source Code Pro";
    -fx-text-fill: #e5dada;
}

.label {
    -fx-font-size: 13px;
    -fx-font-family: "Montserrat";
    -fx-text-fill: white;
}

.jfx-button {
    -fx-font-size: 13px;
    -fx-font-family: "Source Code Pro";
    -fx-text-fill: -standard-color-button;
}

.title {
    -fx-font-size: 22px;
    -fx-font-family: "Montserrat";
    -fx-text-fill: -ext-dark-ok-color;
}

.description {
    -fx-text-fill: -ext-dark-error-color;
}

.cancel {
    -jfx-rippler-fill: -ext-dark-error-color;
    -fx-text-fill: -ext-dark-error-color;
}

.explorer {
    -jfx-rippler-fill: -ext-dark-ok-color;
    -fx-text-fill: -ext-dark-ok-color;
}

.apply {
    -jfx-rippler-fill: -ext-dark-success-color;
    -fx-text-fill: -ext-dark-success-color;
}
