@import url("../popup.css");

.content {
    -fx-background-image: url('../create-profile.png');
}

.jfx-text-field, .jfx-text-field .label {
    -fx-font-size: 13px;
    -fx-font-family: "Source Code Pro";
    -fx-text-fill: #e5dada;
}

.label {
    -fx-font-size: 13px;
    -fx-font-family: "Montserrat";
    -fx-text-fill: white;
}

.jfx-button {
    -fx-font-size: 13px;
    -fx-font-family: "Source Code Pro";
    -fx-text-fill: -standard-color-button;
}

.choice-box {
    -fx-background-color: #24282e;
}

.choice-box .context-menu { -fx-background-color: #1a1d21; }
.choice-box .menu-item:focused { -fx-background-color: -ext-dark-success-color; }
.choice-box .menu-item > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused > .label { -fx-text-fill: #1a1d21; }

.title {
    -fx-font-size: 22px;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: -ext-dark-ok-color;
}

.description {
    -fx-text-fill: -ext-dark-error-color;
}

.cancel {
    -jfx-rippler-fill: -ext-dark-error-color;
    -fx-text-fill: -ext-dark-error-color;
}

.explorer {
    -jfx-rippler-fill: -ext-dark-ok-color;
    -fx-text-fill: -ext-dark-ok-color;
}

.apply {
    -jfx-rippler-fill: -ext-dark-success-color;
    -fx-text-fill: -ext-dark-success-color;
}
