@import url("../popup.css");

.content {
    -fx-background-image: url('../warning.png');
}

.title {
    -fx-font-size: 18px;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: -standard-warning-color;
}

.message {
    -fx-font-size: 13px;
    -fx-font-family: "Montserrat";
    -fx-fill: #e5dada;
}

.ok {
    -fx-font-size: 13px;
    -fx-font-family: "Source Code Pro";
    -jfx-rippler-fill: -ext-dark-success-color;
    -fx-text-fill: -ext-dark-success-color;
}