@import url(../../../../fonts.css);

.main { -fx-background-color: #3a3436; }

.label {
    -fx-text-fill: #ff5b5b;
    -fx-font-size: 16px;
    -fx-font-family: 'Rubik Light';
}

.jfx-button {
    -fx-text-fill: #e5dada;
    -fx-font-family: 'Rubik Light';
    -fx-font-size: 16px;
    -fx-background-color: #34282d;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #2d2c2c, 2, 1, 2, 2);
}

.jfx-button:hover {
    -fx-background-color: #2f2428;
}

.jfx-text-field {
    -fx-font-family: 'Rubik Light';
    -fx-font-size: 15px;
    -fx-text-fill: #f5df90;
    -fx-prompt-text-fill: #616161;
    -jfx-unfocus-color: #616161;
}

.title {
    -fx-font-size: 22px;
    -fx-font-family: 'Rubik Light';
    -fx-text-fill: #00BCD4;
}

.description {
    -fx-text-fill: #ff0000;
}

.cancel {
    -fx-text-fill: #d03939;
}

.open-folder {
    -fx-text-fill: #00BCD4;;
}

.apply {
    -fx-text-fill: #52BC1E;
}

