@import url(../../../fonts.css);

.main { -fx-background-color: #121212; }

.label {
    -fx-font-family: 'Rubik Light';
    -fx-text-fill: #52BC1E;
    -fx-font-size: 16px;
}

.jfx-text-field {
    -fx-font-family: 'Rubik Light';
    -fx-text-fill: #f5df90;
    -fx-font-size: 15px;
}

.jfx-button {
    -fx-background-color: #1d1d1d;
    -fx-font-family: 'Rubik Light';
    -fx-font-size: 16px;
    -fx-text-fill: #e5dada;
}

.jfx-button:hover {
    -fx-background-color: #181818;
}

.choice-box {
    -fx-background-color: #1d1d1d;
    -fx-font-family: 'Rubik Light';
    -fx-font-size: 15px;
    -fx-mark-color: #525050; /* arrow color */
    -fx-focused-mark-color: #525050; /* focused item */
}
.choice-box .label { -fx-text-fill: #e2dfdf; }
.choice-box .context-menu { -fx-background-radius:0 0 10 10; -fx-background-color: #1d1d1d; }
.choice-box .menu-item:focused { -fx-background-color: #e2dfdf; -fx-background-radius:10 10 10 10; }
.choice-box .menu-item > .label { -fx-text-fill: white; -fx-font-size: 15px; }
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }

.title {
    -fx-font-size: 22px;
    -fx-font-family: 'Rubik Light';
    -fx-text-fill: #00BCD4;
}

.description {
    -fx-font-size: 15px;
    -fx-font-family: 'Rubik Light';
    -fx-text-fill: #ff0000;
}

.cancel {
    -fx-text-fill: #d03939;
}

.explorer {
    -fx-text-fill: #00BCD4;
}

.add-profile {
    -fx-text-fill: #52BC1E;
}